@CHARSET "UTF-8";

table, th , td  {
  border: 10px #3F51B5;
  border-style: groove;
  border-width: 1px;
  padding: 13px;
}
table tr:nth-child(odd) {
  background-color: #c1c5f1;
}
table tr:nth-child(even) {
  background-color: #e8e8e8;
}

.flashNotify {
	
	color:green;
}

.flashNotifyError {
	
	color:red;
}

.updateBtn {

	float : right;
}

.deleteBtn {
	
	float : right;
}